<html>
    <head>
        <title>User Page</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
        <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    </head>
    <body>
        <div class="container">
            <div class="col-md-5">
                <h3 class="page-header text-info">User Page</h3>
                <h3>Welcome to {{g.user.username}}...!!!</h3><hr>
                <h4><a href="{{url_for('logout')}}">Logout</a></h4>
            </div>
        </div>
    </body>
</html>